/*
font-family:'Myriad W01 Lt';
font-family:'Myriad W01 Lt It';
font-family:'Myriad W01 Regular';
font-family:'Myriad W01 It';
font-family:'Myriad W01 SmBd';
font-family:'Myriad W01 SmBd It';
font-family:'Myriad W01 Bd';
font-family:'Myriad W01 Bd It';
font-family:'Myriad W01 Black';
font-family:'Myriad W01 Black It';
font-family:'Myriad W01 Lt Sm Cnd';
font-family:'Myriad W01 Lt Sm Cnd It';
font-family:'Myriad W01 Sm Cnd';
font-family:'Myriad W01 Sm Cnd It';
font-family:'Myriad W01 SmBd Sm Cnd';
font-family:'MyriadW01-SmBdSmCndIt';
font-family:'Myriad W01 Bd Sm Cnd';
font-family:'Myriad W01 Bd Sm Cnd It';
font-family:'Myriad W01 Black Sm Cnd';
font-family:'MyriadW01-BlackSmCndIt';
font-family:'Myriad W01 Lt Cnd';
font-family:'Myriad W01 Lt Cnd It';
font-family:'Myriad W01 Cnd';
font-family:'Myriad W01 Cnd It';
font-family:'Myriad W01 SmBd Cnd';
font-family:'Myriad W01 SmBd Cnd It';
font-family:'Myriad W01 Bd Cnd';
font-family:'Myriad W01 Bd Cnd It';
font-family:'Myriad W01 Black Cnd';
font-family:'Myriad W01 Black Cnd It';
font-family:'Trade Gothic W01 Light';
font-family:'TradeGothicW01-LightObl';
font-family:'Trade Gothic W01 Roman';
font-family:'Trade Gothic W01 Obl';
font-family:'Trade Gothic W01 Bold';
font-family:'TradeGothicW01-BoldObl';
font-family:'Trade Gothic W01 Bold 2';
font-family:'TradeGothicW01-Bold2Obl';
font-family:'Trade Gothic W01 Cn 18';
font-family:'TradeGothicW01-Cn18Obl';
font-family:'TradeGothicW01-BoldCn20 675334';
font-family:'TradeGothicW01-BoldCn20 675337';
font-family:'TradeGothicW01-Extended';
font-family:'TradeGothicW01-BoldExte';

*/

.myriad_prolight_semicondensed {
font-family:'Myriad W01 Lt Sm Cnd';
}
.myriad_prosemibold_condensed {
font-family:'Myriad W01 SmBd Cnd';
}
.myriad_problack {
font-family:'Myriad W01 Black';
}
.tradegothicboldtwenty {
font-family:'Trade Gothic W01 Bold 2';
}
.myriadprocond {
	letter-spacing: 1px;
font-family:'Myriad W01 Cnd';
}
.myriadproboldcond {
font-family:'Myriad W01 Bd Cnd';
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: black;
}

/* login form 
 * --------------------------------------------*/
/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
 */