{% extends "_layouts/base.html" %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block css %}
<style>
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}
</style>
{% endblock css %}
{% block content %}
<!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
    <div class="container theme-showcase">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>Time your time!</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'login' %}">Sign In</a></p>
      </div>



     

    </div> <!-- /container -->


{% endblock content %}