<!doctype html>
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block page_title %}{{ _("Your Site") }}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
  {% block css %}{% endblock %}
  <style>
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
  
  <header>
		{% block header %}
			<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TODOers</a>
        </div>
      
      {% include "partials/user_nav.html" %}
      </div>
    </div>
		{% endblock header %}
  </header>

  <div role="main">
    {% block content %}{% endblock %}
  </div>


  <footer>
    {% block footer %}
	    <div id="footer">
	      <div class="container">
	        <span class="pull-right">
	        	<img src="http://www.python.org/community/logos/python-powered-w-70x28.png" />
	        	<a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangosite100x25.gif" border="0" alt="A Django site." title="A Django site." /></a>
	        </span>
	      </div>
	    </div>
    {% endblock footer %}
  </footer>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}libs/jquery/jquery-1.10.2.min.js"><\/script>')</script>

  <script src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}js/main.js"></script>
  {% block bottomjs %}
  	
  
  {% endblock bottomjs %}
  <!-- end scripts -->

{% endblock %}
</body>
</html>
