{% extends "todo/base.html" %}

{% block button_bar %}
	<a href="{% url 'my_items_page' %}" class="btn btn-primary">< Back</a> <a href="" class="btn btn-primary">Pending Task</a>
{% endblock button_bar %}


{% block todo_content %}

<div class="row">
<div class="col-xs-6 col-xs-offset-3">

	<form class="form-horizontal" action="{% url 'add_items' %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Add</button>
	</form>

</div>

{% endblock todo_content %}
