{% extends "_layouts/base.html" %}

{% block content %}
<div class="container">

<h1>Todo Items</h1>

{% block button_bar %}
	<a href="{% url 'add_items' %}" class="btn btn-primary">Add Item</a>
	<a href="{% url 'my_items_page' %}?done=1" class="btn btn-primary">Pending Task</a>
{% endblock button_bar %}

{% block todo_content %}
{% endblock todo_content %}
</div>
{% endblock content %}