{% extends "todo/base.html" %}

{% block todo_content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th><a href="{% url 'my_items_page' %}?sort=name">Name</a></th>
			<th><a href="{% url 'my_items_page' %}?sort=priority">Priority</a></th>
			<th><a href="{% url 'my_items_page' %}?sort=diff">Difficulty</a></th>
			<th><a href="{% url 'my_items_page' %}?sort=date">Created Date</a></th>
			<th>Description</th>
			<th><a href="{% url 'my_items_page' %}?sort=status">Status</a></th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		
		{% for item in items %}
		<tr>
			<td>{{item.name}}</td>
			<td>{{item.priority}}</td>
			<td>{{item.difficulty}}</td>
			<td>{{item.created}}</td>
			<td>{{item.description}}</td>
			<td>{% if item.done %}<i class="glyphicon glyphicon-ok"></i>{% endif %}</td>
			<td>
				{% if not item.done %}<a href="{% url 'mark_item_done' item.id %}"><i class="glyphicon glyphicon-ok" title="Done"></a></i>{% endif %}
				<a href="{% url 'delete_item' item.id %}"><i class="glyphicon glyphicon-trash" title="Delete"></i></a>
			</td>
		</tr>
		{% endfor %}
		
	</tbody>
</table>
{% endblock todo_content %}