<style>
	#abc123{color:#999999;}
</style>
<div class="pull-right" id="abc123">
{% if request.user.is_authenticated %}
	Welcome {{request.user.get_full_name|default:request.user.username}} | <a href="{% url 'logout' %}?next={% url 'home' %}" >Logout</a>
{% endif %}
</div>